.btn {
    display: flex;
    padding: 20px 22px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    transition:
            color var(--animation-fast) ease,
            background var(--animation-fast) ease;

    &.bth--cyan {
        color: var(--color-white);
        background: var(--color-cyan);
    }

    &.btn--black {
        color: var(--color-white);
        background: var(--color-black);
    }


    &.btn--outline {
        color: var(--color-black);
        background: transparent;
        border: 1px solid var(--color-black);

        &:hover {
            background: var(--color-gray);
        }
    }
}